<clr-main-container>
	<clr-header class="header-2">
		<div class="branding">
			<a routerLink="/">
                <img src="img/logo.png" alt="Breweries Logo">
				<span class="title">Breweries</span>
			</a>
		</div>
		<div class="header-nav">
            <a routerLink="/favorites" routerLinkActive="active" class="nav-link">
				<span class="nav-text">Favorites</span>
			</a>
			<a routerLink="/about" routerLinkActive="active" class="nav-link">
				<span class="nav-text">About</span>
			</a>
		</div>
	</clr-header>
	<div class="content-container">
		<main class="content-area">
			<router-outlet></router-outlet>
		</main>
	</div>
</clr-main-container>
